{{>header}}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">XYZ Airlines Application</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-home"></i>
                    <span class="nav-link-text">Start</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Airplanes">
                <a class="nav-link" href="airplanes.html">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Airplanes</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Airports">
                <a class="nav-link" href="airports.html">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Airports</span>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>

    </div>


</nav>



<div class="media mt-3">
    <a class="d-flex pr-3" href="#">
        <img src="http://placehold.it/45x45" alt="">
    </a>
    <div class="media-body">
        <h6 class="mt-0 mb-1"><a href="#">XYZ Airlines</a></h6>
        <img class="img-fluid w-100 mb-1" src="images/xyzairlines.jpg" alt="">

    </div>
    <!-- /Card Columns-->
</div>
<div class="col-lg-4">



</div>




<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>


{{>footer}}